*.pyc
__pycache__
.coverage
logs
logs_and_checkpoints
*.ckpt
.vscode
*egg-info
gpu_output
slurm*
everyvoice/data
docs/build
.DS_Store
dist
build
everyvoice/tests/data/lj/preprocessed/*
!everyvoice/tests/data/lj/preprocessed/duration/
.history
site/
*env*/
!everyvoice/tests/data/test.ckpt
