[run]
branch = True
source_pkgs = everyvoice
omit =
    *tmp*
    */run_tests.py
    */tests/*
    */wizard/simple_term_menu_win_stub.py

[report]
precision = 2
exclude_lines =
    pragma: no cover
    if 0:
    if __name__ == .__main__.:
